.accent-section {
    display: grid;
    align-items: center;
    row-gap: 20px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "head head head"
        "prev scheme next"
        "colors colors colors"
        "input input input";
    justify-items: center;
    h2 {
        grid-area: head;
    }

    &__nav-button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;
        &--previous {
            margin-right: 20px;
            background-image: url("../assets/mi-round-arrow_back-24px.svg");
            justify-self: end;
            grid-area: prev;
        }
        &--next {
            margin-left: 20px;
            background-image: url("../assets/mi-round-arrow_forward-24px.svg");
            justify-self: start;
            grid-area: next;
        }
    }
}

.accent-input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: input;
    *:first-child {
        margin-bottom: 10px;
    }
}

.accent-color-scheme {
    &__header {
        grid-area: scheme;
    }

    &__colors-container {
        align-self: center;
        grid-area: colors;
    }
}
