.accent-color-scheme {
    &__header {
        font-size: 1.25em;
        text-align: center;
    }

    &__colors-container {
        display: flex;
        > * {
            margin-right: 10px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
