.accent-select-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;

    h2 {
        grid-area: 1 / 1 / 2 / 4;
    }

    &__input {
        grid-area: 4 / 1 / 5 / 4;
    }

    .icon-button {
        &--previous {
            grid-area: 2 / 1 / 3 / 2;
        }
        &--next {
            grid-area: 2 / 3 / 3 / 4;
        }
    }
}

.accent-color-scheme {
    &__header {
        grid-area: 2 / 2 / 3 / 3;
    }

    &__colors-container {
        width: 100%;
        grid-area: 3 / 1 / 4 / 4;
    }
}
