.App {
    display: grid;
    padding: 40px 7vw;
    grid-template-columns: 1fr;
    gap: 40px;
    grid-template-areas:
        "primary"
        "accent"
        "additional"
        "contrast"
        "export";
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "primary accent"
            "additional additional"
            "contrast contrast"
            "export export";
    }

    @media only screen and (min-width: 1000px) {
        padding: 70px 11vw;
    }
}

.primary-section {
    grid-area: primary;
}

.accent-section {
    grid-area: accent;
}

.additional-colors-section {
    grid-area: additional;
}

.additional-colors-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    label {
        width: fit-content;
    }

    @media only screen and (min-width: 900px) {
        justify-content: center;
        gap: 50px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}

.contrast-section {
    grid-area: contrast;
}

.export-section {
    grid-area: export;
}
