@mixin app-grid-areas {
    .primary-section {
        grid-area: primary;
    }

    .accent-section {
        grid-area: accent;
    }

    .additional-colors-section {
        grid-area: additional;
    }

    .contrast-section {
        grid-area: contrast;
    }

    .export-section {
        grid-area: export;
    }
}

.App {
    display: grid;
    padding: 40px 7vw;
    grid-template-columns: 1fr;
    gap: 40px;
    grid-template-areas:
        "primary"
        "accent"
        "additional"
        "contrast"
        "export";

    @include app-grid-areas;
    @media only screen and (min-width: 768px) {
        @include app-grid-areas;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "primary accent"
            "additional additional"
            "contrast contrast"
            "export export";
    }

    @media only screen and (min-width: 1000px) {
        padding: 70px 11vw;
    }

    @media only screen and (min-width: 1440px) {
        @include app-grid-areas;
        grid-template-areas:
            "primary additional"
            "accent additional"
            "contrast contrast"
            "export export";
    }

    @media only screen and (min-width: 2560px) {
        padding-right: 21vw;
        padding-left: 21vw;
    }
}

.additional-colors-section {
    @media only screen and (min-width: 1440px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.additional-colors-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    label {
        width: fit-content;
    }

    @media only screen and (min-width: 768px) {
        gap: 50px;
    }

    @media only screen and (min-width: 900px) and (max-width: 1439px) {
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
}
