.App {
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 7vw;
    gap: 40px;
    grid-template-areas:
        "primary"
        "accent"
        "additional"
        "contrast"
        "export";
}

.primary-section {
    grid-area: primary;
}

.accent-section {
    grid-area: accent;
}

.additional-colors-section {
    grid-area: additional;
    display: flex;
    flex-direction: column;
}

.contrast-section {
    grid-area: contrast;
}

.export-section {
    grid-area: export;
}
