.level-button {
    span:first-child {
        margin-right: 20px;
    }

    .active {
        font-weight: bold;
        border-bottom: 1px solid $color-text;
    }
}

.contrast-panels {
    display: flex;
    flex-wrap: wrap;
    > div {
        display: flex;
        flex-direction: column;
    }
}
