.export-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    > *:not(h2) {
        margin-bottom: 30px;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &__fieldset {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 350px;
        label {
            margin-right: 28px;
            input[type="radio"] {
                margin-right: 8px;
            }
        }
    }
}
