.export-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    > *:not(h2) {
        margin-bottom: 20px;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &__fieldset {
        width: 90%;
        max-width: 350px;
        label {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            input[type="radio"] {
                margin-right: 8px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            @media only screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

    &__textarea {
        width: 90%;
        max-width: 350px;
        height: 150px;
    }
}
