.primary-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .color-input {
        display: flex;
        align-items: center;
        flex-direction: column;
        > *:first-child {
            margin-bottom: 28px;
        }

        label {
            position: absolute;
            top: -200vh;
        }

        &__preview-box {
            width: 100px;
            height: 100px;
        }
    }
}
