.text-contrast {
    display: grid;
    &__panel {
        display: grid;
        align-items: start;
        height: 100%;
        padding: 20px;
        border-radius: 8px;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
        .contrast-test {
            grid-column: 2;

            &:first-child {
                grid-row: 1;
            }

            &:last-child {
                grid-row: 2;
            }
        }

        p {
            margin: 0;
            grid-column: 1;
        }
    }

    &__header {
        font-size: 1.5em;
        margin: 8px 0;
        grid-row: 1;
    }

    &__body {
        grid-row: 2;
    }
}
