.component-panel {
    border-radius: 8px;
    background: $panel-background;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.35);
}

.dark-button {
    color: $dark-button-text-color;
    background-color: $dark-button-background;
}
