body {
    font-family: $font-header;
    margin: 0;
    color: $color-text;
    background-color: $color-main-background;
}

// *********************************************************
// Text
h2,
h3 {
    font-family: $font-body;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-size: 2.125em;
    line-height: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.75em;
    line-height: 1.5em;
    letter-spacing: -0.02em;
}

p {
    font-size: 1.125em;
    line-height: 1.5em;
}

// *********************************************************
// Forms
a {
    color: $color-link;
}

button {
    cursor: pointer;
}

fieldset {
    border: 0;
}

legend {
    font-size: 1.125em;
}

label {
    font-size: 1.125em;
    line-height: 1.5em;
}

input[type="text"] {
    font-family: $font-body;
    font-size: 1.125em;
    line-height: 1.5em;
    box-sizing: border-box;
    width: 107px;
    height: 27px;
    text-align: center;
    color: $color-field-text;
    border: 0.5px solid $color-field-border;
    background: $color-field-background;
}

textarea {
    font-size: 1.2em;
    width: clamp(320px, 90%, 400px);
    height: 150px;
    padding: 8px;
    color: $color-field-text;
    border: 0;
    border-radius: 8px;
    background-color: $color-field-background;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.65);
}
