body {
    font-family: $header-font;
    margin: 0;
    color: $text-color;
    background-color: $body-background;
}

section {
    padding: 30px 10vw;
}

// *********************************************************
// Text
h2,
h3 {
    font-family: $body-font;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: clamp(1.5em, 8vw, 2.125em);
}

h3 {
    font-size: clamp(1.25em, 6vw, 1.4em);
    letter-spacing: -0.02em;
}

p,
legend,
label,
input[type="text"] {
    font-size: clamp(1em, 4vw, 1.2em);
    line-height: 1.5em;
}

// *********************************************************
// Forms
a {
    color: $link-color;
}

button {
    font-size: 1.125em;
    padding: 10px 20px;
    cursor: pointer;
    color: $text-color;
    border: 0;
    border-radius: 8px;
    background-color: $button-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

fieldset {
    border: 0;
}

input[type="text"] {
    font-family: $body-font;
    line-height: 1.5em;
    box-sizing: border-box;
    width: 107px;
    height: 27px;
    text-align: center;
    color: $input-text-color;
    border: 0.5px solid $input-border-color;
    background: $input-background;
}

textarea {
    font-size: 1.2em;
    width: clamp(320px, 90%, 400px);
    height: 150px;
    padding: 8px;
    color: $input-text-color;
    border: 0;
    border-radius: 8px;
    background-color: $input-background;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.65);
}
