@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #f7f7f7;
  background-color: #1a1a1a;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 2.125em;
  line-height: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}

p {
  font-size: 1.125em;
  line-height: 1.5em;
}

button {
  cursor: pointer;
}

label {
  font-size: 1.25em;
  line-height: 1.5em;
}

input[type="text"] {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 107px;
  height: 27px;
  text-align: center;
  color: #cccccc;
  border: 0.5px solid #5a5a5a;
  background: #0d0d0d;
}

.component-panel {
  background: #262626;
  -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
}

.primary-select-section .color-input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primary-select-section .color-input > *:first-child {
  margin-bottom: 28px;
}

.primary-select-section .color-input label {
  position: absolute;
  top: -200vh;
}

.primary-select-section .color-input__preview-box {
  width: 100px;
  height: 100px;
}

.color-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-input__preview-box {
  width: 82px;
  height: 82px;
  border-radius: 14px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.accent-select__index-button {
  width: 24px;
  height: 24px;
  color: #f7f7f7;
  border: 0;
  background-color: transparent;
}

.accent-select__index-button--previous {
  background-image: url("../assets/mi-round-arrow_back-24px.svg");
}

.accent-select__index-button--next {
  background-image: url("../assets/mi-round-arrow_forward-24px.svg");
}

.accent-color-scheme__header {
  font-size: 1.25em;
  line-height: 23px;
}
