@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");
body {
  margin: 0;
  color: #f7f7f7;
  background-color: #1a1a1a;
}

button {
  cursor: pointer;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 2.125em;
}

h2 {
  font-size: 2.125em;
  line-height: 51px;
}

h3 {
  font-size: 1.75em;
  line-height: 42px;
  letter-spacing: -0.02em;
}

p {
  font-size: 1.125em;
  line-height: 27px;
}

label {
  font-size: 1.25em;
  line-height: 23px;
}

.accent-color-scheme__header {
  font-size: 1.25em;
  line-height: 23px;
}
