.primary-select-section .color-input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.primary-select-section .color-input > *:first-child {
  margin-bottom: 28px;
}

.primary-select-section .color-input label {
  position: absolute;
  top: -200vh;
}
