@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

// Variables
$header-font: "Lato", sans-serif;
$body-font: "Poppins", sans-serif;

$body-background: #1a1a1a;
$panel-background: #262626;

$text-color: #f7f7f7;

$link-color: #c1c1c1;

$button-background: #262626;
$dark-button-background: #757575;
$dark-button-text-color: #ffffff;

$input-text-color: #cccccc;
$input-border-color: #5a5a5a;
$input-background: #0d0d0d;

// Base
@import "./base/general";
@import "./base/classes";

// Components
@import "./components/App";
@import "./components/PrimarySection";
@import "./components/ColorInput";
@import "./components/AccentSection";
@import "./components/AccentColorScheme";
@import "./components/ExportSection";
@import "./components/ContrastSection";
@import "./components/GraphicContrast";
